<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <title>Dot Game</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <div id="app">
    <div id="scoreContainer" class="appContainer">
      <div id="score"></div>
    </div>
    <div id="speedContainer" class="appContainer">
      <div id="sliderContainer"></div>
      <div>Speed</div>
    </div>
    <div id="game"></div>
  </div>
  <script src="/index.js"></script>
</body>
</html>